.about {
  width: 100%;

  .container {
    .section-heading {
      margin-bottom: 6rem;
    }
    .about-details {
      h2 {
        font-size: 3rem;
      }
      ul {
        padding: 0;
        li {
          font-size: 1.8rem;
          font-weight: 300;
          margin-bottom: 0.4rem;

          span {
            display: block;
            margin-bottom: 1.5rem;
          }
        }
      }

      .social-media {
        margin-top: 5rem;

        i {
          font-size: 5rem;
          transition: color 650ms;

          &:hover {
            //TODO: make color pink like in services section in tutorial
            color: $accent-color;
          }
        }
      }
    }
  }
}
