.contact {
  height: 100vh;
  position: relative;

  .container {
    margin-bottom: 0;

    .icons {
      font-size: 3rem;
      font-weight: 300;
      padding: 0;

      li {
        margin-bottom: 1.5rem;

        a {
          transition: color 650ms;

          &:hover {
            color: $link-hover;
          }

          i {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
