//Tablets & Small Laptops
@include mediaMd {

    h1, h2, h3 {
        &.lg-heading {
            font-size: 4rem;
            margin-top: 0;
        }
        &.sm-heading {
            margin-bottom: 4rem;
        }
    }

    .section-wrapper{
        text-align: left;        
    }

    .container {
        margin-bottom: 10px;
        padding: 10vh 4rem;
    }

    .projects {
        flex-flow: row nowrap;
        margin-bottom: 3rem;
        width: 90%;
        margin: 0 auto; 
        align-items: space-between;


        &-preview {
            flex: 1;
        }

        &-details {
            flex: 2;
        }

        &-name {
            display: block;
            margin: 0;
            color: $primary-color;
        }

        .btn {
            width: 12rem;
        }
    }

    .contact {
        .container {
            margin-bottom: 0;
        }
    }


    
}

//Desktops & Laptops
@include mediaLg {
    h1, h2, h3 {
        &.lg-heading {
            font-size: 4rem;
        }
        &.sm-heading {
            margin-bottom: 4rem;
        }
    }

    .section-wrapper {
        text-align: left;
    }

    .container {
        margin: 1.25rem 0 1.25rem 40%;
        width: 60%;
        height: 95%;
        padding: 4rem;
        border-radius: 10px 0 0 10px;
        box-shadow: -4px 6px 8px 0px rgba($secondary-color,1);

        &:after {
            border-radius: 10px 0 0 10px;
        }
    }

    .openNav {
        display: none;
    }

    .overlay {
        position: fixed;
        height: 100vh;
        width: 40%;
        padding: 0;
        background-color:$primary-color;
    }

    .overlay-content {
        margin-top: 0;
        top: 20%;
    }

    .nav-item {
        font-size: 2.7rem;
    }

    .nav-link {
        color: $secondary-color;
        &:hover {
            font-weight: 700;
            color: $accent-color;
            @include easeOut;
        }
    }

    .overlay .closebtn {
        display: none;
    }


    main {
        .icons {
            a {
                &:hover {
                    color: $accent-color;
                    @include easeOut;
                }
            }
        }
    
        .container {
            margin-top: 0;
            height: 100vh;
            padding-top: 12rem;
        }
    
    }

   
    .projects {
        flex-flow: row nowrap;
        margin-bottom: 3rem;

        img {
            width: 100%;

            &:hover {
                opacity: 0.6;
                border-color: $accent-color;
                @include easeOut;
            }
    
        }

        &-preview {
            flex: 1;
        }

        &-details {
            flex: 2;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
        }

        .btn {
            display: inline;

        &:hover {
            background: $accent-color;
            color: $primary-color;
        }

        }

        &-preview-techs {
            display: block;
            margin-bottom: 1rem;

            span {
                display: inline;
                background-color: darken($accent-color,20);
                color: $primary-color;
                opacity: 0.8;
                padding: 0 0.5rem;
                border-radius: 6px;
            }
        }
    }

    .item {
        max-width: 300px;
    }

    #contact {
        .container {
            margin-bottom: 0;
            height: 100vh;
        }
        .icons {
            a {
                font-size: 2rem;
                &:hover {
                    color: $accent-color;
                    @include easeOut;
                }
            }
        }
    }

}

