//Tablets & Small Laptops
@include mediaMd {
    nav {

        .menu-nav {
            width: 75%;
            margin: 0 auto;    
        }
    
        .nav-item {
            font-size: 1.2rem;
        }
    }

    h1, h2, h3 {
        &.lg-heading {
            font-size: 4rem;
        }
        &.sm-heading {
            margin-bottom: 4rem;
        }
    }

    .section-wrapper{
        text-align: left;
    }

    .section-wrapper-work {
        text-align: left;
    }

    .container {
        padding: 4rem;
    }

    .projects {
        flex-flow: row nowrap;
        margin-bottom: 3rem;
        width: 90%;
        margin: 0 auto; 
        align-items: space-between;


        &-preview {
            flex: 1;
        }

        &-details {
            flex: 2;
        }

        &-name {
            display: block;
            margin: 0;
            color: $primary-color;
        }

        .btn {
            width: 12rem;
        }
    }


    
}

//Desktops & Laptops
@include mediaLg {
    h1, h2, h3 {
        &.lg-heading {
            font-size: 4rem;
        }
        &.sm-heading {
            margin-bottom: 4rem;
        }
    }

    .section-wrapper {
        position: relative;
    }

    .container {
        top: 2.5%;
        margin-left: 40%;
        width: 60%;
        height: 95%;
        padding: 4rem;
        border-radius: 10px 0 0 10px;
        box-shadow: -4px 6px 8px 0px rgba($secondary-color,1);

        &:after {
            border-radius: 10px 0 0 10px;
        }
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 40%;
        padding: 0;
        z-index: 2;

        &:after {
            display: none;
        }
    }

    .menu-nav {
        position: absolute;
        top: 30%;
        height: 40%;
        padding: 0;
        flex-flow: column;
        justify-content: center;    
    }

    .nav-item {
        font-size: 2.7rem;
    }

    .nav-link {
        color: $secondary-color;
        &:hover {
            font-weight: 700;
            color: $accent-color;
            @include easeOut;
        }
    }

    main {
        .icons {
            a {

                &:hover {
                    color: $accent-color;
                    @include easeOut;
                }
            }
        }
    
        &#home {
            background-image: none;

            .container {
                background-image: $home-image;
                @include background;
            }
    
        }
    
    }

    .section-wrapper{
        text-align: left;
    }

    .section-wrapper-work {
        text-align: left;
    }

    
    .projects {
        flex-flow: row nowrap;
        margin-bottom: 3rem;

        img {
            width: 100%;

            &:hover {
                opacity: 0.6;
                border-color: $accent-color;
                @include easeOut;
            }
    
        }


        &-preview {
            flex: 1;
        }

        &-details {
            flex: 2;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
        }


        .btn {
            width: 7rem;
            display: inline;

        &:hover {
            background: $accent-color;
            color: $primary-color;
        }

        }

        &-preview-techs {
            display: block;
            margin-bottom: 1rem;

            span {
                display: inline;
                background-color: darken($accent-color,20);
                color: $primary-color;
                opacity: 0.8;
                padding: 0 0.5rem;
                border-radius: 6px;
            }
        }
    }

    .item {
        max-width: 300px;
    }

    #contact {
        .icons {
            a {
                font-size: 2rem;
                &:hover {
                    color: $accent-color;
                    @include easeOut;
                }
            }
        }
    }

}

