.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 6rem auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;

  h1 {
    font-size: 3.5rem;
    color: rgba($color: $primary-color, $alpha: 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba($color: $primary-color, $alpha: 0.75);
    }

    &:before {
      width: 10rem;
      height: 3px;
      border-radius: 0.8rem;
    }

    &:after {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      bottom: -1rem;
    }
  }

  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0;
  }
}

.has-margin-right {
  margin-right: 5rem;
}
