.projects {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-between;

    img {
        width: 80%;
        border: 3px #fff solid;
        border-radius: 10px;
        margin-bottom: 0.5rem;

    }

    &-name {
        display: none;
    }

    &-details {
        &-description {
            color: $primary-color;
            margin: 0;
        }
    }

    &-preview-techs {
        display: none;
    }

}


//Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;

}

.btn-dark {
    @extend .btn;
    background: darken($secondary-color, 50);
    color: $primary-color;
    margin-bottom: 3rem;
}

.btn-light {
    @extend .btn;
    background: lighten($secondary-color, 50);
    color: $secondary-color;
    margin-bottom: 0.3rem;
}