@import 'config';
@import 'work';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  height: 100%;
  margin: 0;
  font-family: $primary-font;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 3rem;
    color: $primary-color;
  }

  &.sm-heading {
    margin-bottom: 3rem;
    color: $primary-color;
  }

  &.section-sm-heading {
    color: $accent-color;
  }
}

a {
  text-decoration: none;
  outline: none;
}

.paragraph {
  color: $primary-color;
  text-align: justify;
}

.section-wrapper {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 1;
  margin-bottom: 1rem;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($secondary-color, $background-opacity);
    z-index: -1;
  }
}

// navigation
.openNav {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: 35px;
  z-index: 2;
  border: none;
  background-color: $primary-color;
  border-radius: 8px;

  span {
    height: 2px;
    width: 24px;
    margin: 5px 0;
    display: block;
    background-color: $secondary-color;
  }
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #818181;
  z-index: 1;
}

.nav-link {
  color: $primary-color;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  // transition: 0.5s;
}

.overlay-content {
  padding-left: 0;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  color: $primary-color;
}

main {
  z-index: 1;

  .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: $home-image;
    @include background;
  }

  span {
    z-index: 10;
    color: #fff;
  }

  .icons {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
    }
    a {
      color: $primary-color;
      padding: 0.4rem;
    }
  }
}

.text-secondary {
  color: $accent-color;
}

#about {
  .container {
    background-image: $about-image;
    @include background;
  }
}

#skills {
  .container {
    background-image: $skills-image;
    @include background;
  }
}

#work {
  .container {
    background-image: $work-image;
    @include background;
  }
}

#contact {
  .container {
    background-image: $contact-image;
    @include background;
    margin-bottom: 0;
  }

  .icons {
    list-style: none;
    padding-left: 0;

    a {
      color: $primary-color;
      padding: 0.2rem;
      display: block;
      font-size: 1.3rem;
      text-align: left;
    }

    i {
      margin-right: 2rem;
    }
  }
}

@import 'responsive';
