$primary-color: #fffafa;

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.5;
}

//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
    }
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    height: 100vh;
    width: 35%;
    min-width: 150px; 
}

.menu-nav {
    position: absolute;
    top: 30%;
    list-style-type: none;
    height: 40%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
}

.nav-item {
    text-transform: uppercase;
    font-size: 3rem;
}

.section-wrapper {
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 2.5%;
    margin-left: 35%;
    width: 65%;
    height: 95%;
    background-color: #444;
    // border: 1px solid red;
}


