//fonts and colors
$primary-color: #fffafa;
$secondary-color: #444444;
$accent-color: #FF8000; //in case I want span around Skopin
$primary-font: 'Segoe UI', Tahoma, sans-serif;

//images
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;

@mixin easeOut {
    transition: all 0.3s ease-out;
}

@mixin background {
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    height: 100%;
    margin: 0;
    font-family: $primary-font;
    line-height: 1.5;
}

//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
        color: $primary-color;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        color: $primary-color;
    }
}

a {
    text-decoration: none;
}

.section-wrapper {
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 2.5%;
    margin-left: 35%;
    width: 65%;
    height: 95%;
    background-color: $secondary-color;
    padding: 4rem;
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 6px 8px 0px rgba($secondary-color,1);
    z-index: 0;
    // border: 1px solid red;

    #overlay {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($secondary-color,$background-opacity); /* Black background with opacity */
        border-radius: 10px 0 0 10px;
        z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
        // cursor: pointer; /* Add a pointer on hover */
      }
}



nav {
    position: fixed;
    height: 100vh;
    width: 35%;
    min-width: 150px; 
    z-index: 2;
}

.menu-nav {
    position: absolute;
    top: 30%;
    list-style-type: none;
    height: 40%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
}

.nav-item {
    text-transform: uppercase;
    font-size: 3rem;
}

.nav-link {
    color: $secondary-color;
    &:hover {
        font-weight: 700;
        color: $accent-color;
        @include easeOut;
    }
}



main {
    .icons {
        a {
            color: $primary-color;
            padding: 0.4rem;

            &:hover {
                color: $accent-color;
                @include easeOut;
            }
        }
    }

    &#home {
        h1 {
            margin-top: 20vh;
        }

        .container {
            background-image: $home-image;
            @include background;
        }
    }
}


.text-secondary {
    color: $accent-color;
}



